[Unit]
Description=Kafka-API service
Documentation=http://kafka.apache.org/documentation.html

[Service]
Type=simple
ExecStart=/opt/kafka/bin/kafka-api -zookeeper {% for node in groups[ kafka_cluster_group_hosts ] %}{{ node }}:2181{% if not loop.last %},{% endif %}{%endfor%} -kafka {% for node in groups[ kafka_cluster_group_hosts ] %}{{ node }}:9092{% if not loop.last %},{% endif %}{%endfor%}

[Install]
WantedBy=multi-user.target