[Unit]
Description=Apache Kafka Server
Documentation=http://kafka.apache.org/documentation.html
Requires=zookeeper.service

[Service]
Type=simple
ExecStart={{ kafka_home_dir }}/bin/kafka-server-start.sh {{ kafka_home_dir }}/config/server.properties
ExecStop={{ kafka_home_dir }}/bin/kafka-server-stop.sh

[Install]
WantedBy=multi-user.target
